table {
  width: 80%;
  margin: auto;
  border: 1px solid gray;

  th {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid;
    text-align: center;
  }

  td {
    text-align: center;
  }
}